<div *ngIf="meInfo$ | async as meInfo">
  <div class="" *ngIf="editCommentMode">
    <app-comment-input
      type="edit"
      [contextId]="comment.context_id"
      [content]="comment.content"
      [commentId]="comment._id"
      contextType="post"
      (onCancel)="editCommentMode = false"
    ></app-comment-input>
  </div>
  <div *ngIf="!editCommentMode" class="min-w-[250px]">
    <div
      class="px-3 py-2 bg-gray-100 border border-gray-200 rounded-lg shadow-sm"
    >
      <div class="max-w-full whitespace-nowrap">
        <div>
          <a
            [routerLink]="'/users/' + comment.owner._id"
            class="font-medium text-gray-600 text-md"
          >
            {{ comment.owner.first_name }} {{ comment.owner.last_name }}
          </a>
          &bull;
          <span class="text-gray-500 text-md">
            {{ timeAgo(comment.createdAt) }}
          </span>
        </div>
      </div>
      <div class="block">
        <a
          *ngIf="comment.reply_user"
          [routerLink]="'/users/' + comment.reply_user?._id"
          class="mr-2 font-medium text-blue-400 text-md"
        >
          {{ comment.reply_user.first_name }}
          {{ comment.reply_user.last_name }}
        </a>
        <span class="text-gray-800 text-md">
          {{ comment.content }}
        </span>
      </div>
    </div>
  </div>
  <div class="flex items-center">
    <app-emotions
      [contextType]="'post'"
      [contextId]="comment._id"
    ></app-emotions>
    <span class="mx-2"> &bull; </span>
    <span
      class="font-medium text-gray-600 cursor-pointer text-md hover:underline"
      (click)="toggleReply()"
    >
      {{ replyMode ? "Cancel" : "Reply" }}
    </span>
    <span class="mx-2"> &bull; </span>
    <span
      class="flex items-center cursor-pointer"
      [popper]="commentOptions"
      [popperPlacement]="NgxPopperjsPlacements.RIGHTSTART"
      [popperApplyClass]="'p-0'"
    >
      <ng-icon name="matMoreHorizRound" class="text-lg text-gray-500"></ng-icon>
    </span>
    <popper-content #commentOptions class="shadow-sm rounded-xl">
      <div class="w-16">
        <div
          *ngIf="meInfo._id === comment?.owner?._id"
          class="px-2 py-1.5 hover:bg-gray-200 text-md rounded-md text-gray-700 cursor-pointer"
          (click)="editCommentMode = true"
        >
          Edit
        </div>

        <div
          *ngIf="
            meInfo._id === comment?.owner?._id ||
            meInfo._id === comment?.context_owner
          "
          class="px-2 py-1.5 hover:bg-gray-200 text-md rounded-md text-gray-700 cursor-pointer"
          (click)="handleDeleteComment(comment._id)"
        >
          Delete
        </div>
        <div
          class="px-2 py-1.5 hover:bg-gray-200 text-md rounded-md text-gray-700 cursor-pointer"
          (click)="reportDialog = true"
        >
          Report
        </div>
      </div>
    </popper-content>
  </div>
  <div *ngIf="replyMode" class="mb-2">
    <app-comment-input
      [contextId]="comment.context_id"
      contextType="post"
      type="reply"
      [rootComment]="comment?.root_comment || comment._id"
      [replyUser]="comment.owner._id"
      (onSuccess)="replyMode = false"
      [showAvatar]="true"
    ></app-comment-input>
  </div>
  <ng-container
    *ngIf="moreComments"
    [ngTemplateOutlet]="moreComments"
  ></ng-container>
</div>

<p-dialog
  [(visible)]="reportDialog"
  [style]="{ width: '550px' }"
  header="Report Comment"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <app-create-report
      [context_id]="comment._id"
      context_type="comment"
      (onSuccess)="reportDialog = false"
    ></app-create-report>
  </ng-template>
</p-dialog>
