.j-calendar-custom {
  .p-inputtext {
    @apply px-3 py-2 text-md;

    &:enabled:focus {
      @apply border-blue-400;
      box-shadow: 0 0 0 0.1rem #bfdbfe;
    }

    &:enabled:hover {
      @apply border-blue-400;
    }
  }

  .p-datepicker table td {
    padding: 0.2rem !important;
  }

  .p-datepicker table td > span {
    width: 1.7rem;
    height: 1.7rem;
  }

  .p-datepicker table {
    font-size: 10pt;
    margin: -0.143rem 0;
  }

  .p-datepicker .p-datepicker-header {
    padding: 0.2rem;
  }
}
