<div class="w-full">
  <div class="px-6 py-8 mx-auto mt-8 bg-white rounded-lg shadow-lg w-96">
    <div class="flex flex-col">
      <div class="flex justify-center pt-4 pb-6 text-xl font-medium">
        Change Password
      </div>
    </div>
    <form [formGroup]="loginForm">
      <div class="mb-2 font-semibold text-gray-600 text-md">Old password</div>
      <div class="mb-3">
        <input
          type="password"
          pInputText
          placeholder="Old password"
          class="w-full h-10 j-inputtext-custom"
          formControlName="old_password"
        />
        <div
          *ngIf="
            loginForm.get('old_password')?.invalid &&
            (loginForm.get('old_password')?.dirty ||
              loginForm.get('old_password')?.touched)
          "
          class="mt-1 text-sm text-red-500"
        >
          <div
            *ngIf="
              loginForm.get('old_password')?.hasError('required') ||
              loginForm.get('old_password')?.hasError('whitespace')
            "
          >
            Old password is required
          </div>
          <div *ngIf="loginForm.get('old_password')?.hasError('minlength')">
            Old password must be at least 8 characters long
          </div>
        </div>
      </div>

      <div class="mt-2 mb-2 font-semibold text-gray-600 text-md">
        New password
      </div>
      <div class="mb-3">
        <input
          type="password"
          pInputText
          placeholder="New password"
          class="w-full h-10 j-inputtext-custom"
          formControlName="new_password"
        />
        <div
          *ngIf="
            loginForm.get('new_password')?.invalid &&
            (loginForm.get('new_password')?.dirty ||
              loginForm.get('new_password')?.touched)
          "
          class="mt-1 text-sm text-red-500"
        >
          <div
            *ngIf="
              loginForm.get('new_password')?.hasError('required') ||
              loginForm.get('new_password')?.hasError('whitespace')
            "
          >
            New password is required
          </div>
          <div *ngIf="loginForm.get('new_password')?.hasError('minlength')">
            New password must be at least 8 characters long
          </div>
        </div>
      </div>

      <div class="mt-4">
        <p-button
          styleClass="bg-blue-500 text-white j-button-custom w-full flex justify-center"
          (onClick)="handleSubmit()"
          type="submit"
          class="w-full"
          >Submit</p-button
        >
      </div>
    </form>
  </div>
</div>
