<div class="w-full my-auto">
  <div class="px-6 py-8 mx-auto mt-8 bg-white rounded-lg shadow-lg w-96">
    <div class="flex flex-col items-center">
      <div class="overflow-hidden rounded-xl w-14 h-14">
        <img src="assets/logo-only-text.png" alt="" />
      </div>
      <div class="flex justify-center pt-4 pb-6 text-xl font-medium">
        Forgot Password
      </div>
    </div>
    <form [formGroup]="loginForm">
      <div class="mb-3">
        <input
          type="text"
          pInputText
          placeholder="Email"
          class="w-full h-10 j-inputtext-custom"
          formControlName="email"
        />
        <div
          *ngIf="
            loginForm.get('email')?.invalid &&
            (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)
          "
          class="mt-1 text-sm text-red-500"
        >
          <div *ngIf="loginForm.get('email')?.hasError('required')">
            Email is required
          </div>
          <div *ngIf="loginForm.get('email')?.hasError('email')">
            Please enter a valid email
          </div>
        </div>
      </div>

      <div class="mt-4">
        <p-button
          styleClass="bg-blue-500 text-white j-button-custom w-full flex justify-center"
          (onClick)="handleSubmit()"
          type="submit"
          class="w-full"
          >Submit</p-button
        >
      </div>
    </form>
  </div>
</div>
