:host ::ng-deep {
  .grid-container {
    display: grid;
    grid-template-columns: 3fr 9fr;
    grid-gap: 0.5rem;
    height: calc(100vh - 48px);
  }

  .body {
    display: grid;
    grid-template-columns: 8fr 4fr;
    grid-gap: 0.5rem;
  }
}
