<div class="w-screen h-screen bg-gray-100">
  <div class="sticky top-0 z-50 h-12">
    <app-header></app-header>
  </div>
  <div class="max-w-5xl pt-4 mx-auto grid-container">
    <div class="h-full overflow-y-auto sidebar">
      <div
        *ngFor="let sidebar of sidebars"
        class="flex items-center px-2 py-1 font-medium text-gray-700 rounded-md cursor-pointer h-9 hover:bg-gray-200 text-md"
        (click)="handleClickSidebarItem(sidebar)"
      >
        <ng-icon [name]="sidebar.icon" class="text-xl text-gray-600"></ng-icon>
        <span class="ml-2">
          {{ sidebar.name }}
        </span>
      </div>
    </div>
    <div class="h-full overflow-y-scroll j-custom-scrollbar">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<p-dialog
  header="Share post"
  [(visible)]="showCreatePostModal"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  (onHide)="createPostModalService.closeModal()"
>
  <app-create-post
    [postType]="'share_post'"
    [sharePost]="createPostModalService.sharePost$ | async"
    (onSuccess)="createPostModalService.closeModal()"
  ></app-create-post>
</p-dialog>
