<div class="content">
  <div class="emotions">
    <div class="emotion">
      <img
        src="/assets/emotions/like.emotion.svg"
        alt="Like"
        draggable="false"
      />
      <p>Like</p>
    </div>
    <div class="emotion">
      <img
        src="/assets/emotions/heart.emotion.svg"
        alt="Heart"
        draggable="false"
      />
      <p>Heart</p>
    </div>
    <div class="emotion">
      <img src="/assets/emotions/wow.emotion.svg" alt="Wow" draggable="false" />
      <p>Wow</p>
    </div>
    <div class="emotion">
      <img
        src="/assets/emotions/haha.emotion.svg"
        alt="Haha"
        draggable="false"
      />
      <p>Haha</p>
    </div>
    <div class="emotion">
      <img src="/assets/emotions/sad.emotion.svg" alt="Sad" draggable="false" />
      <p>Sad</p>
    </div>
    <div class="emotion">
      <img
        src="/assets/emotions/angry.emotion.svg"
        alt="Angry"
        draggable="false"
      />
      <p>Angry</p>
    </div>
  </div>
  <p>Like</p>
</div>
