<div class="content">
  <div class="emotions">
    <div
      *ngFor="let emotion of emotions"
      class="emotion"
      (click)="handleAddEmotion(emotion.key)"
    >
      <img [src]="emotion.src" [alt]="emotion.label" draggable="false" />
      <p>{{ emotion.label }}</p>
    </div>
  </div>
  <div
    class="flex items-center py-1 cursor-pointer text-md"
    (click)="handleToggleEmotion()"
  >
    <div
      *ngIf="currentEmotion; else noEmotion"
      class="flex items-center py-1 cursor-pointer text-md"
    >
      <img
        *ngIf="currentEmotion"
        [src]="getCurrentEmotionImg()"
        alt=""
        class="w-6 h-6"
      />
      <span class="ml-1 capitalize">{{ currentEmotion.type }} </span>
    </div>
    <ng-template #noEmotion>
      <div class="flex items-center py-1 cursor-pointer text-md">
        <span class="ml-1 capitalize">Like</span>
      </div>
    </ng-template>
  </div>
</div>
