<div
  class="px-4 py-3 bg-white border border-gray-200 rounded-lg shadow-sm"
  *ngIf="userInfo$ | async as userInfo"
>
  <form [formGroup]="createPostForm">
    <div class="">
      <div class="flex items-center justify-between">
        <img
          [src]="getMediaUrlById(userInfo.avatar, userInfo.medias)"
          class="shadow-md object-cover w-12 h-12 rounded-full"
        />
        <div class="flex-1 ml-4">
          <div class="py-1 font-semibold text-md">
            <a [routerLink]="'/users/' + userInfo._id">
              {{ userInfo.first_name }} {{ userInfo.last_name }}
            </a>
          </div>
          <div
            class="inline-flex items-center font-normal bg-gray-100 rounded-md cursor-pointer text-md px-1.5 py-0.5"
            (click)="visibilityOp.toggle($event)"
          >
            <span>{{ visibility }}</span>
            <ng-icon
              name="matKeyboardArrowDownRound"
              class="text-lg text-gray-800"
            ></ng-icon>
          </div>
        </div>
        <div>
          <button
            type="button"
            class="w-10 h-full text-center text-gray-500 hover:scale-110"
            (click)="op.toggle($event)"
            pTooltip="Emoji"
            tooltipStyleClass="text-md"
          >
            😀
          </button>
        </div>
      </div>
      <div class="mt-1.5">
        <textarea
          pInputTextarea
          placeholder="What's new?"
          formControlName="title"
          class="w-full border-none outline-none focus:border-none text-md j-inputtext-custom no-border-focus"
          rows="1"
        ></textarea>
      </div>

      <div
        class="w-full"
        NgxJustifiedGrid
        [gap]="gap"
        [defaultDirection]="defaultDirection"
        [columnRange]="columnRange"
        [rowRange]="rowRange"
        [sizeRange]="sizeRange"
        [isCroppedSize]="isCroppedSize"
        [displayedRow]="displayedRow"
        [autoResize]="true"
      >
        <div *ngFor="let media of medias" class="relative">
          <img [src]="media.url" alt="" class="w-full h-full" />
          <div
            class="absolute top-0 right-0 flex w-4 h-4 bg-gray-700 cursor-pointer bg-opacity-70 item-center"
            (click)="handleRemoveMedia(media.id)"
          >
            <ng-icon
              name="matCloseRound"
              class="text-base text-gray-300"
            ></ng-icon>
          </div>
        </div>
      </div>
      <div>
        <app-image-uploader
          #imageUploader
          (onUploadSuccess)="handleUploadFile($event)"
        ></app-image-uploader>
      </div>
    </div>

    <!-- INNER POST -->
    <div
      *ngIf="postType === 'share_post' && sharePost"
      class="w-full pt-2 pb-4 mt-2 border rounded-lg bg-gray-50 boder-gray-200"
    >
      <div class="flex items-center justify-between px-4">
        <img
          [src]="
            getMediaUrlById(sharePost.owner.avatar, sharePost.owner.medias)
          "
          class="shadow-md object-cover w-12 h-12 rounded-full"
        />
        <div class="flex-1 ml-4">
          <div class="py-1 font-semibold text-md">
            <a [routerLink]="'/' + AppRoutes.USERS + '/' + sharePost.owner._id">
              {{ sharePost.owner.first_name }}
              {{ sharePost.owner.last_name }}
            </a>
          </div>
          <div class="text-sm text-gray-700">
            {{ formatDate(sharePost.createdAt) }} &bull;
            {{ timeAgo(sharePost.createdAt) }}
          </div>
        </div>
      </div>

      <div class="px-4 my-3 text-md" [innerHtml]="sharePost?.title"></div>

      <div
        class="w-full"
        NgxJustifiedGrid
        [gap]="gap"
        [defaultDirection]="defaultDirection"
        [columnRange]="columnRange"
        [rowRange]="rowRange"
        [sizeRange]="sizeRange"
        [isCroppedSize]="isCroppedSize"
        [displayedRow]="displayedRow"
        [autoResize]="true"
      >
        <div
          *ngFor="let media of sharePost.medias; let i = index"
          class="relative"
        >
          <img [src]="media.url" alt="" class="w-full h-full" />
        </div>
      </div>
    </div>

    <div class="flex items-center justify-between px-4 py-2 mt-2 border-t">
      <div>
        <div
          *ngIf="!sharePost || postType !== 'share_post'"
          class="w-6 h-6 cursor-pointer"
          pTooltip="Photo"
          (click)="imageUploader.showDialog()"
        >
          <ng-icon
            name="matImageRound"
            class="text-2xl text-green-600 hover:scale-110"
          ></ng-icon>
        </div>
      </div>
      <p-button
        styleClass="bg-blue-500 text-white j-button-custom flex justify-center small"
        [disabled]="createPostForm.invalid"
        [loading]="submitting"
        (onClick)="handleCreatePost()"
        [label]="postType === 'share_post' ? 'Share' : 'Post'"
      ></p-button>
    </div>
  </form>
</div>

<p-overlayPanel #op styleClass="j-overlaypanel-custom">
  <emoji-mart
    (emojiClick)="handleEmojiClick($event)"
    [emojiSize]="16"
    class="text-md"
  ></emoji-mart>
</p-overlayPanel>

<p-overlayPanel #visibilityOp styleClass="j-overlaypanel-custom">
  <div
    *ngFor="let option of visibilityOptions"
    class="p-2 cursor-pointer text-md hover:bg-gray-100"
    (click)="handleClickVisibility(option, visibilityOp)"
  >
    {{ option.label }}
  </div>
</p-overlayPanel>
