<div class="bg-white rounded-md shadow-sm">
  <form [formGroup]="createPostForm">
    <div class="px-4 pt-2">
      <div class="flex items-center justify-between">
        <p-avatar shape="circle" label="M"></p-avatar>
        <div class="flex-1 ml-4">
          <div class="font-semibold text-md">Nguyen Ngoc Minh</div>
          <div
            class="flex items-center py-1 font-normal cursor-pointer text-md"
            (click)="visibilityOp.toggle($event)"
          >
            <span>{{ visibility }}</span>
            <ng-icon
              name="matKeyboardArrowDownRound"
              class="text-lg text-gray-800"
            ></ng-icon>
          </div>
        </div>
        <div>
          <button
            type="button"
            class="w-10 h-full text-center text-gray-500"
            (click)="op.toggle($event)"
            pTooltip="Emoji"
            tooltipStyleClass="text-md"
          >
            😀
          </button>
        </div>
      </div>
      <div>
        <textarea
          pInputTextarea
          placeholder="What's new?"
          formControlName="title"
          class="w-full border-none outline-none focus:border-none text-md j-inputtext-custom no-border-focus"
          rows="1"
          [autoResize]="true"
        ></textarea>
      </div>

      <div
        class="w-full"
        NgxJustifiedGrid
        [gap]="gap"
        [defaultDirection]="defaultDirection"
        [columnRange]="columnRange"
        [rowRange]="rowRange"
        [sizeRange]="sizeRange"
        [isCroppedSize]="isCroppedSize"
        [displayedRow]="displayedRow"
        [autoResize]="true"
      >
        <div *ngFor="let media of medias" class="relative">
          <img [src]="media.url" alt="" class="w-full h-full" />
          <div
            class="absolute top-0 right-0 flex w-4 h-4 bg-gray-700 cursor-pointer bg-opacity-70 item-center"
            (click)="handleRemoveMedia(media.id)"
          >
            <ng-icon
              name="matCloseRound"
              class="text-base text-gray-300"
            ></ng-icon>
          </div>
        </div>
      </div>
      <div>
        <app-image-uploader
          #imageUploader
          (onUploadSuccess)="handleUploadFile($event)"
        ></app-image-uploader>
      </div>
    </div>
    <div class="flex items-center justify-between px-4 py-2 mt-2 border-t">
      <div>
        <div
          class="w-6 h-6 cursor-pointer"
          pTooltip="Photo"
          (click)="imageUploader.showDialog()"
        >
          <ng-icon
            name="matImageRound"
            class="text-2xl text-green-600"
          ></ng-icon>
        </div>
      </div>
      <p-button
        styleClass="bg-blue-500 text-white j-button-custom flex justify-center small"
        [disabled]="createPostForm.invalid"
        [loading]="submitting"
        (onClick)="handleCreatePost()"
        label="Post"
      ></p-button>
    </div>
  </form>
</div>

<p-overlayPanel #op styleClass="j-overlaypanel-custom">
  <emoji-mart
    (emojiClick)="handleEmojiClick($event)"
    [emojiSize]="16"
    class="text-md"
  ></emoji-mart>
</p-overlayPanel>

<p-overlayPanel #visibilityOp styleClass="j-overlaypanel-custom">
  <div
    *ngFor="let option of visibilityOptions"
    class="p-2 cursor-pointer text-md hover:bg-gray-100"
    (click)="handleClickVisibility(option, visibilityOp)"
  >
    {{ option.label }}
  </div>
</p-overlayPanel>
