<div class="card">
  <p-table
    #dt
    [value]="users"
    [lazy]="true"
    dataKey="idakdsf-dksf"
    (onLazyLoad)="handleLoadUsers($event)"
    [rows]="pageSize"
    [first]="(page - 1) * pageSize"
    [rowsPerPageOptions]="[2, 5, 10, 25, 50]"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} users"
    [paginator]="true"
    [totalRecords]="totalUsers"
  >
    <ng-template pTemplate="caption">
      <div class="flex items-center justify-between">
        <h5 class="m-0">Manage Users</h5>
        <input
          type="text"
          pInputText
          placeholder="Search users"
          [formControl]="searchControl"
          class="h-10 p-2 text-base font-normal text-gray-800 border border-gray-300 rounded-lg max-w"
        />
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <!-- <th class="w-16">ID</th> -->
        <th class="w-10">Avatar</th>
        <th pSortableColumn="first_name">
          <div class="flex items-center justify-start">
            First name
            <!-- <p-sortIcon field="first_name"></p-sortIcon>
            <p-columnFilter
              type="text"
              field="first_name"
              display="menu"
              class="ml-auto"
            ></p-columnFilter> -->
          </div>
        </th>
        <th pSortableColumn="last_name">
          <div class="flex items-center justify-start">Last name</div>
        </th>
        <th pSortableColumn="email">
          <div class="flex items-center justify-start">Email</div>
        </th>
        <th pSortableColumn="friends">
          <div class="flex items-center justify-start">Total friends</div>
        </th>
        <th>
          <div class="flex items-center justify-start">Gender</div>
        </th>
        <th>
          <div class="flex items-center justify-start">Birth date</div>
        </th>
        <th>
          <div class="flex items-center justify-start">Created at</div>
        </th>
        <th>
          <div class="flex items-center justify-start">Role</div>
        </th>
        <th>
          <div class="flex items-center justify-start">Actions</div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <!-- <td>
          <span class="p-column-title">ID</span>
          {{ user._id }}
        </td> -->
        <td class="flex items-center justify-center">
          <a [routerLink]="'/users/' + user._id" target="_blank">
            <img
              [src]="getMediaUrlById(user.avatar, user.medias)"
              class="object-cover w-8 h-8 rounded-full shadow-md"
            />
          </a>
        </td>
        <td>
          <span class="p-column-title">First name</span>
          {{ user.first_name }}
        </td>
        <td>
          <span class="p-column-title">Last name</span>
          {{ user.last_name }}
        </td>
        <td>
          <span class="p-column-title">email</span>
          {{ user.email }}
        </td>
        <td>
          <span class="p-column-title">email</span>
          {{ user.friends.length }}
        </td>
        <td>
          <span class="capitalize p-column-title">Gender</span>
          {{ user.gender }}
        </td>
        <td>
          <span class="p-column-title">Birth date</span>
          {{ formatDateToDDMMYYYY(user.birth_date) }}
        </td>
        <td>
          <span class="p-column-title">Created at</span>
          {{ formatDateToDDMMYYYY(user.createdAt) }}
        </td>
        <td>
          <span class="p-column-title">Role</span>
          <p-tag
            [severity]="user?.role === 'admin' ? 'primary' : 'success'"
            [value]="user.role.toUpperCase()"
          ></p-tag>
        </td>
        <td class="flex gap-2">
          <span class="p-column-title">Actions</span>
          <button
            pButton
            class="p-2 bg-blue-400 p-button-rounded"
            (click)="handleShowUser(user)"
          >
            <ng-icon
              name="matInfoRound"
              class="text-xl text-white"
            ></ng-icon></button
          ><button
            pButton
            class="p-2 bg-green-400 p-button-rounded"
            (click)="handleShowUserPosts(user)"
          >
            <ng-icon name="matFeedRound" class="text-xl text-white"></ng-icon>
          </button>
          <button
            pButton
            class="p-2 p-button-rounded"
            [ngClass]="{
              'bg-red-500': user.status === 'active',
              'bg-green-500': user.status === 'deactive'
            }"
            [pTooltip]="
              user.status === 'active' ? 'Deactive user' : 'Active user'
            "
            [showDelay]="200"
            (click)="
              user.status === 'active'
                ? deactiveUser(user._id)
                : activeUser(user._id)
            "
          >
            <ng-icon name="matBlockRound" class="text-xl text-white"></ng-icon>
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog
  [(visible)]="userDialog"
  [style]="{ width: '550px' }"
  header="User Info"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="field">
      <label class="label">ID: </label>
      <span class="">{{ user._id }}</span>
    </div>

    <div class="field">
      <label class="label">Avatar: </label>
      <div *ngIf="user.avatar" class="flex items-center justify-center">
        <img
          [src]="getMediaUrlById(user.avatar, user.medias)"
          alt="User avatar"
          class="block object-cover w-24 h-24 rounded-full shadow-xl"
        />
      </div>
    </div>

    <div class="field">
      <label class="label">Background: </label>
      <div *ngIf="user.background" class="flex items-center justify-center">
        <img
          [src]="getMediaUrlById(user.background, user.medias)"
          alt="User background"
          class="block max-w-[450px] rounded-lg shadow-xl"
        />
      </div>
    </div>

    <div class="field">
      <label class="label">Email: </label>
      <span class="label-text">{{ user.email }}</span>
    </div>

    <div class="field">
      <label class="label">First name: </label>
      <span class="label-text">{{ user.first_name }}</span>
    </div>

    <div class="field">
      <label class="label">Last name: </label>
      <span class="label-text">{{ user.last_name }}</span>
    </div>

    <div class="field">
      <label class="label">Description: </label>
      <span class="label-text">{{ user.description }}</span>
    </div>

    <div class="field">
      <label class="label">Birth date: </label>
      <span class="label-text">{{
        formatDateToDDMMYYYY(user.birth_date)
      }}</span>
    </div>

    <div class="field">
      <label class="label">Gender: </label>
      <span class="label-text">{{ user.gender }}</span>
    </div>

    <div class="field">
      <label class="label">Created at: </label>
      <span class="label-text">{{ formatDateToDDMMYYYY(user.createdAt) }}</span>
    </div>

    <div class="field">
      <label class="label">Status: </label>
      <span class="label-text">{{ user.status }}</span>
    </div>
  </ng-template>

  <!-- <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Save"
      icon="pi pi-check"
      class="p-button-text"
      (click)="saveProduct()"
    ></button>
  </ng-template> -->
</p-dialog>

<p-dialog
  [(visible)]="postsDialog"
  [style]="{ width: '650px' }"
  header="User Posts"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div *ngIf="posts$ | async as posts" class="flex flex-col gap-3">
      <app-post-card *ngFor="let post of posts" [post]="post"></app-post-card>
    </div>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
