:host ::ng-deep {
  .justified-grid {
    height: 600px; /* Set the overall height */
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Adjust as needed */
    grid-template-rows: 300px 200px 100px; /* Define the heights for each row */
    gap: 10px; /* Adjust the gap as needed */
  }

  .justified-grid .image {
    overflow: hidden;
    position: relative;
  }

  .justified-grid img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  .ngxp__container {
    @apply p-1;
  }

  .action-item {
    @apply flex-1 px-2 text-md flex justify-center h-[40px] items-center rounded-md cursor-pointer;

    &:hover {
      @apply bg-gray-100;
    }
  }

  .p-dialog-footer {
    button {
      @apply mr-4;
    }
  }
}
