<div *ngIf="comments$ | async as comments" class="p-2">
  <app-comment-input
    [contextId]="contextId"
    [contextType]="'post'"
    [showAvatar]="true"
  ></app-comment-input>
  <p-progressSpinner
    *ngIf="loading"
    styleClass="w-4rem h-4rem"
    strokeWidth="8"
    fill="var(--surface-ground)"
    animationDuration=".5s"
  ></p-progressSpinner>
  <div *ngIf="!loading" class="flex flex-col gap-2 mt-4">
    <div
      *ngFor="let comment of comments[contextId]?.comments.slice(0, next) || []"
    >
      <app-comment [comment]="comment"></app-comment>
    </div>
    <div
      class="flex items-center justify-center mt-4 mb-2"
      *ngIf="next < comments[contextId]?.comments.length"
    >
      <p-button
        styleClass="bg-blue-500 text-white j-button-custom w-full flex justify-center"
        (onClick)="handleMoreComments()"
        type="submit"
        class="w-full"
      >
        Load More Comments
      </p-button>
    </div>
  </div>
</div>
