<div class="flex gap-2" *ngIf="meInfo$ | async as meInfo">
  <div *ngIf="showAvatar" class="">
    <img
      [src]="getMediaUrlById(meInfo.avatar, meInfo.medias)"
      class="object-cover w-8 h-8 rounded-full shadow-lg"
    />
  </div>
  <div class="flex-1 border rounded-md shadow-sm border-primary-300">
    <!-- no-border-focus -->
    <textarea
      pInputTextarea
      placeholder=""
      [formControl]="contentForm"
      class="w-full text-md j-inputtext-custom"
      rows="1"
    ></textarea>
    <div class="flex justify-between">
      <div>
        <button
          type="button"
          class="w-10 h-full text-center text-gray-500 hover:scale-110"
          (click)="op.toggle($event)"
          pTooltip="Emoji"
          tooltipStyleClass="text-md"
        >
          😀
        </button>
        <button
          *ngIf="type === 'edit'"
          type="button"
          class="w-10 h-full text-center text-gray-500 text-md hover:text-gray-600"
          (click)="onCancel.emit()"
        >
          Cancel
        </button>
      </div>
      <button class="px-2" type="button" (click)="handleSubmit()">
        <ng-icon
          name="matSendRound"
          class="text-xl text-gray-400 hover:text-blue-400"
        ></ng-icon>
      </button>
    </div>
    <p-overlayPanel #op styleClass="j-overlaypanel-custom">
      <emoji-mart
        (emojiClick)="handleEmojiClick($event)"
        [emojiSize]="16"
        class="text-md"
      ></emoji-mart>
    </p-overlayPanel>
  </div>
</div>
