<div class="flex gap-2" *ngIf="meInfo$ | async as meInfo">
  <div class="">
    <p-avatar
      shape="circle"
      [image]="getMediaUrlById(meInfo.avatar, meInfo.medias)"
      styleClass="shadow-lg"
    ></p-avatar>
  </div>
  <div class="border rounded-md border-primary-300 flex-1">
    <textarea
      pInputTextarea
      placeholder=""
      [formControl]="content"
      class="w-full text-md j-inputtext-custom no-border-focus"
      rows="1"
    ></textarea>
    <div class="flex justify-between">
      <button
        type="button"
        class="w-10 h-full text-center text-gray-500 hover:scale-110"
        (click)="op.toggle($event)"
        pTooltip="Emoji"
        tooltipStyleClass="text-md"
      >
        😀
      </button>
      <button class="px-2" type="button" (click)="handleSubmit()">
        <ng-icon
          name="matSendRound"
          class="text-xl text-gray-400 hover:text-blue-400"
        ></ng-icon>
      </button>
    </div>
    <p-overlayPanel #op styleClass="j-overlaypanel-custom">
      <emoji-mart
        (emojiClick)="handleEmojiClick($event)"
        [emojiSize]="16"
        class="text-md"
      ></emoji-mart>
    </p-overlayPanel>
  </div>
</div>
