:host ::ng-deep {
  .grid-container {
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-gap: 0.5rem;
    height: 48px;
  }

  .body {
    display: grid;
    grid-template-columns: 8fr 4fr;
    grid-gap: 0.5rem;
  }

  .ngxp__container {
    @apply p-1;
  }
}
