<div class="w-full h-full bg-white shadow-md" *ngIf="meInfo$ | async as meInfo">
  <div class="flex items-center max-w-5xl mx-auto grid-container">
    <div class="">
      <div class="w-8 h-8 rounded-md">
        <img src="assets/logo-only-text.png" alt="" />
      </div>
    </div>
    <div class="flex items-center justify-between h-full">
      <div class="min-w-[250px]">
        <div class="relative flex items-center">
          <div class="w-6 h-6 mr-2">
            <ng-icon
              name="matSearchRound"
              class="text-2xl font-bold text-gray-400"
            ></ng-icon>
          </div>
          <div>
            <input
              type="text"
              pInputText
              placeholder="Search"
              class="w-full h-10 j-inputtext-custom"
            />
          </div>
          <div class="flex card justify-content-center"></div>
        </div>
      </div>
      <div
        class="flex items-center h-full px-2 cursor-pointer hover:bg-gray-100"
        [popper]="headerMenuOption"
        [popperPlacement]="NgxPopperjsPlacements.BOTTOMEND"
        [popperApplyArrowClass]="'hidden'"
        [popperApplyClass]="popperClass"
      >
        <div class="mr-2 font-semibold text-gray-600 text-md">
          {{ meInfo.first_name }} {{ meInfo.last_name }}
        </div>
        <p-avatar
          shape="circle"
          [image]="getMediaUrlById(meInfo.avatar, meInfo.medias)"
          styleClass="cursor-pointer"
        ></p-avatar>
      </div>
    </div>
  </div>

  <popper-content #headerMenuOption class="shadow-sm rounded-xl">
    <div class="w-28">
      <div
        class="px-2 py-1.5 my-0.5 hover:bg-gray-200 text-md rounded-md text-gray-700 cursor-pointer flex items-center"
        [routerLink]="'/users/' + meInfo._id"
      >
        <ng-icon name="matPerson2Round" class="text-xl text-gray-600"></ng-icon>
        <span class="ml-2"> Profile </span>
      </div>
      <hr />
      <div
        class="px-2 py-1.5 my-0.5 hover:bg-gray-200 text-md rounded-md text-gray-700 cursor-pointer flex items-center"
        (click)="handleLogout()"
      >
        <ng-icon name="matLogoutRound" class="text-xl text-gray-600"></ng-icon>
        <span class="ml-2">Logout</span>
      </div>
    </div>
  </popper-content>
</div>

<p-overlayPanel #op>
  <img
    src="https://primefaces.org/cdn/primeng/images/demo/product/bamboo-watch.jpg"
    alt="product"
  />
</p-overlayPanel>
