<div class="w-full h-full bg-white shadow-md" *ngIf="meInfo$ | async as meInfo">
  <div class="flex items-center mx-auto max-w-7xl grid-container">
    <a class="flex items-center gap-2" [routerLink]="'/'">
      <div class="w-8 h-8 rounded-md">
        <img src="assets/logo-only-text.png" alt="" />
      </div>
      <div class="font-semibold text-gray-800">Journey Connect</div>
    </a>
    <div class="flex items-center justify-between h-full">
      <div class="min-w-[350px]">
        <app-search-users class="h-full"></app-search-users>
      </div>
      <div
        class="flex items-center h-full px-2 cursor-pointer hover:bg-gray-100"
        [popper]="headerMenuOption"
        [popperPlacement]="NgxPopperjsPlacements.BOTTOMEND"
        [popperApplyArrowClass]="'hidden'"
        [popperApplyClass]="popperClass"
      >
        <div class="mr-2 font-semibold text-gray-600 text-md">
          {{ meInfo.first_name }} {{ meInfo.last_name }}
        </div>
        <img
          [src]="getMediaUrlById(meInfo.avatar, meInfo.medias)"
          class="object-cover w-8 h-8 rounded-full shadow-md"
        />
      </div>
    </div>
  </div>

  <popper-content #headerMenuOption class="shadow-sm rounded-xl">
    <div class="w-36">
      <div
        class="px-2 py-1.5 my-0.5 hover:bg-gray-200 text-md rounded-md text-gray-700 cursor-pointer flex items-center"
        [routerLink]="'/users/' + meInfo._id"
      >
        <ng-icon name="matPerson2Round" class="text-xl text-gray-600"></ng-icon>
        <span class="ml-2"> Profile </span>
      </div>
      <div
        *ngIf="isAdmin"
        class="px-2 py-1.5 my-0.5 hover:bg-gray-200 text-md rounded-md text-gray-700 cursor-pointer flex items-center"
        [routerLink]="'/dashboard/users'"
      >
        <ng-icon
          name="matDashboardRound"
          class="text-xl text-gray-600"
        ></ng-icon>
        <span class="ml-2"> Dashboard </span>
      </div>
      <div
        class="px-2 py-1.5 my-0.5 hover:bg-gray-200 text-md rounded-md text-gray-700 cursor-pointer flex items-center"
        [routerLink]="'/change-password'"
      >
        <ng-icon name="matEditRound" class="text-xl text-gray-600"></ng-icon>
        <span class="ml-2"> Change pass </span>
      </div>
      <hr />
      <div
        class="px-2 py-1.5 my-0.5 hover:bg-gray-200 text-md rounded-md text-gray-700 cursor-pointer flex items-center"
        (click)="handleLogout()"
      >
        <ng-icon name="matLogoutRound" class="text-xl text-gray-600"></ng-icon>
        <span class="ml-2">Logout</span>
      </div>
    </div>
  </popper-content>
</div>

<p-overlayPanel #op>
  <img
    src="https://primefaces.org/cdn/primeng/images/demo/product/bamboo-watch.jpg"
    alt="product"
  />
</p-overlayPanel>
